/* Main styles for text and containers */

/*.header {
	top: 0px;
	height: 80px;
	background-color: yellow;
}

.content {
	width: 800px;
	margin: 0 auto;
}

.footer {
	width: 1000px;
}

.footer-link {
	width: 600px;
	margin: 0 auto;
}*/