/* Main styles for text and containers */

.page-header h1 {
	color: #CC9900;
}

.content-container {
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
}

#landing-img-lg {
	background-image: url("../img/robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100%;
	margin-bottom: 20px;
	padding-top: 300px;
	padding-bottom: 40px;
}

#landing-img-md {
	background-image: url("../img/robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100%;
	margin-bottom: 20px;
	padding-top: 200px;
	padding-bottom: 40px;
}

#landing-img-sm {
	background-image: url("../img/robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100%;
	margin-bottom: 20px;
	padding-top: 100px;
	padding-bottom: 15px;
}

#landing-img-xs {
	background-image: url("../img/robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100%;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 15px;
}

#landing-btn {
	width: 130px;
	margin: 0 auto;
}

.circle-link {
	width: 200px;
	margin: 0 auto;
}

.category-img {
	background-color: #BBB;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin-bottom: 20px;
}

.circle-link .btn{
	width: 150px;
}

.content-container .btn {
	margin-bottom: 20px;
}

.footer {
	height: 300px;
	bottom: 0px;
	background-color: #CC9900;
	-webkit-box-shadow: inset 0 3px 0 #F4CA16;
	box-shadow: inset 0 3px 0 #F4CA16;
	clear: both;
}

.footer-links {
	width: 80%;
	margin: 0 auto;
	padding-top: 35px;
}

.footer-links .btn-link {
	padding: 4px 0px 4px 0px;
}

.footer-links a{
	float: right;
	display: block;
	clear: both;
}

.footer-links p {
	font-size: 14px;
}

/* our-robot.html styles */


#focused-feature {
	height: 300px;
	background-image: url("../img/robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 100%;
	border-radius: 4px;
}

#robot-features {
	width: 800px;
	margin: 0 auto;
}

#unfocused-features {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}

#unfocused-features > div {
	width: 200px;
	display: inline-block;
}

.robot-feature {
	background-color: #BBB;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 150px;
	margin-bottom: 20px;
}

.unfocused-btn {
	width: 150px;
}

#feature-description {
	font-size: 16px;
}

#feature-description {
	clear: both;
}

#feature-description img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	height: 100px;
}

/* TODO: BLOCK OUT TIMELINE

/*.timeline {
    
}*/


#stat-list {
	font-size: 20px;
	list-style-type: circle;
}

/* the-team.html styles */

#team-picture {
	width: 100%;
	height: 400px;
	background-color: #BBB;
	margin-bottom: 20px;
	border-radius: 4px;
}

#project-managers {
	width: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-bottom: 20px;
	color: #000;
}

.team-member-container div {
	height: 200px;
	width: 200px;
	background-color: #BBB;
	border-radius: 200px;
	margin: 0 auto;
}

.team-member-container h1 p {
	text-align: center;
}

#team-members {
	width: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	color: #000;
}

#features-xs {
	width: 210px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 10px; 
}

#features-sm {
	width: 252px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 14px; 
}

#features-xs-sm ul {
	width: 70%;
	margin: 0 auto;
}

#feature-description-xs-sm {
	margin-bottom: 20px;
}

#feature-description-xs-sm img {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	height: 50px;
}

/* events.html styles */

.calender {
}

.legend {
	text-align: center;
	background-color: #CC9900;
}

.legend div {
	font-size: 14px;
	margin-bottom: 5px;
}

.legend-co {
	background-color: #158cba;
}

.legend-m {
	background-color: #28b62c;
}

.legend-bd {
	background-color: #ff4136;
}

.legend-fr {
	background-color: #75caeb;
}

.event-details {
	text-align: center;
}

.event-border {
	border-top: 4px #F4CA16 solid;
}

/* resources.html styles */
.alert .glyphicon {
	margin-right: 10px;
}

.tutor {
	padding: 0px;
	margin-bottom: 20px;	
}

.tutor .col-md-6 {
	padding: 0px;
}

.tutor-md-lg > div {
	width: 300px;
	margin: 0 auto;
}

.tutor-xs-sm > div {
	width: 150px;
	margin: 0 auto;
}

.tutor-name {
	color: #000;
	display: inline-block;
	padding: 0px;
	height: 150px;
	width: 150px;
	font-size: 18px;
}

.tutor-details {
	font-size: 14px;
}